.row .title {
  position: relative;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 50px;
}
.row .title:after {
  content: "";
  position: absolute;
  width: 140px;
  height: 4px;
  bottom: 0%;
  left: calc(50% - 70px);
  background-color: #f281ac;
}
.return-home a {
  text-decoration: none;
  color: #ffc107;
}
.return-home:hover a {
  color: #000;
}
.cntr-tours {
  background-color: #ffe0f4;
}
